{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}LeopoardMonitor Web Property Monitor Dashboard{% endblock %}</h3>
{% endblock %}

{% block content %}


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Target</th>
      <th scope="col">Last Status</th>
      <th scope="col">Last Tested</th>
      <th scope="col">Last Response Time [ms]</th>
    </tr>
  </thead>
  <tbody>

  {% for testResult in testResults %}
  <tr>
    <td><div><a href="{{ testResult.url }}">{{ testResult.name }}</a></div></td>
    <td><div>{{ testResult.lastStatus }}</div></td>
    <td><div>{{ testResult.lastTested }}</div></td>
    <td><div>{{ testResult.lastTimeElapsed }}</div></td>
  </tr>
  {% endfor %}

  </tbody>
</table>

{% endblock %}

